[2015-03-13 02:29] geddski opened #2 "how to expose admin console port"
So I've installed this on a digital ocean droplet, ssh in and `docker ps` shows it's running. Now how do I access the administrative web console, know which port to use for the driver connection, etc?

[2015-03-13 02:31] stuartpb commented on #2
See https://github.com/docker-library/docs/blob/master/rethinkdb/README.md#how-to-use-this-image

[2015-03-13 02:34] stuartpb commented on #2
https://github.com/docker-library/docs/blob/master/rethinkdb/README.md#connecting-to-the-web-admin-interface-on-a-remote--virtual-host-via-ssh specifically details how to set up an SSH tunnel to connect to the web console for a container running on a DO droplet.

[2015-03-13 02:43] stuartpb commented on #2
For the client driver, to go into a little more detail after https://github.com/docker-library/docs/blob/master/rethinkdb/README.md#connect-the-instance-to-an-application, within the `some-app` container, you'd want to connect to the IP and port specified in the `RDB_PORT_28015_TCP_ADDR` and `RDB_PORT_28015_TCP_PORT` environment variables, respectively.

All this is a bit of a verbose hassle (and

[2015-03-13 02:55] stuartpb commented on #2
Note that when I say Plushu I'm mostly referring to the [Plusku](https://meta.sh/setup/plusku) setup.

[2015-03-23 13:33] vierja opened #3 "Add release candidates"
It would be cool to add release candidates support (and alpha/beta if it comes to that) I know it can be a lot more work to update but it's a good way to get people to try it before release.

[2015-03-23 17:28] stuartpb commented on #3
If upstream packages them, sure.

[2015-03-23 18:04] vierja commented on #3
How about something like:

[code]

I can create a PR if you want.

[2015-03-24 22:19] stuartpb commented on #3
Considering that official library Dockerfiles should be reproducible, packages in http://download.rethinkdb.com/dev/ are ephemeral, [the 2.0.0 release is scheduled for next Monday](http://www.meetup.com/RethinkDB-SF-Meetup-Group/events/220927293/), and getting changes into the upstream Docker library usually has a 1-2 day turnaround from the initial PR, I think I'm going to hold off on 2.0.0 until

[2015-03-25 04:29] geddski commented on #2
@stuartpb what would the `remote` variable be in the case of using boot2docker (VM) on a mac?

[2015-03-25 04:37] geddski commented on #2
there's gotta be an easier way to enable/view the admin interface...

[2015-03-25 17:03] stuartpb commented on #2
`remote` would be the IP for whatever network interface you're exposing the VM on. Following the directions from https://docs.docker.com/installation/mac/#from-your-command-line, that would be `boot2docker ip`.

If you don't like SSH tunneling, the simplest way to connect to it would be to either use a port exposing option like `-p 8080` and visit `$(boot2docker ip):8080`, or (if the container is

[2015-03-26 16:33] vierja commented on #3
Ok thanks!

[2015-03-26 16:33] #3 closed

[2015-03-29 02:54] geddski opened #4 "rethinkdb warning"
when using boot2docker on OSX rethinkdb gives this warning:

[code]

[2015-03-29 02:59] geddski opened #5 "can't create secondary indexes"
Attempting to create a secondary index, either through RQL or the Admin UI causes the rethinkdb container to crash, with this error:

[code]

[2015-03-29 03:00] geddski commented on #2
@stuartpb thanks.

[2015-03-29 03:00] #2 closed

[2015-03-29 03:44] geddski commented on #5
Found that this does not happen when you don't bind to the volume.

[2015-03-29 03:44] geddski commented on #4
Found that this does not happen when you don't bind to the volume.

[2015-03-29 15:42] stuartpb commented on #4
So yeah, this is expected behavior. See https://github.com/boot2docker/boot2docker#folder-sharing for how to do volumes within boot2docker. (The command to start rethinkdb would then be `docker run --name some-rethink --volumes-from my-data -d rethinkdb`.)

[2015-03-29 15:43] stuartpb commented on #5
See #4

[2015-03-29 15:43] #5 closed

[2015-04-19 15:27] nthtran opened #6 "Include python driver?"
So you can exec `rethinkdb dump` or `rethinkdb index-rebuild`.

Example:
https://github.com/dockerfile/rethinkdb/commit/e9da66d3d0111a4900252541cff31f4bdb634170

[2015-04-19 21:41] stuartpb commented on #6
If I were to do this, I'd do it as a separate image, since Python/pip/everything bring a lot of heavyweight dependencies with them (you don't see most of it there because the base image pilwon used for all the "dockerfile" images was already a massive kitchen sink).

Indeed, if you want to run the RethinkDB driver using official images, you're better off running `docker run python bash -c 'pip ins

[2015-04-19 21:49] stuartpb commented on #6
If you want your own RethinkDB driver image, run this:

[code]

Usage:

[code]

[2015-04-19 22:32] nthtran commented on #6
Fair enough I'll just do this then. Thanks!

[2015-04-19 22:32] #6 closed

[2015-06-11 23:09] #4 closed

[2015-06-12 19:41] techniq opened #9 "2.0.3 release"
[2.0.3](https://github.com/rethinkdb/rethinkdb/releases/tag/v2.0.3) is now out.  Care to push an update?

[2015-06-12 20:11] stuartpb commented on #9
Just did.

[2015-06-12 20:11] #9 closed

[2015-06-12 20:17] stuartpb opened #10 "Dockerfiles for lucid, precise, and saucy"
Upstream provides packages for each of these:

- http://download.rethinkdb.com/apt/pool/lucid/main/r/rethinkdb/
- http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/
- http://download.rethinkdb.com/apt/pool/saucy/main/r/rethinkdb/

It wouldn't be too tough to make Dockerfiles to install each of these, but since there's no tags for these versions in the official registry, it's kind of

[2015-06-12 20:21] stuartpb commented on #9
Library PR: docker-library/official-images#814

[2015-06-12 20:23] techniq commented on #9
Thanks

On Fri, Jun 12, 2015, 4:21 PM Stuart P. Bentley <notifications@github.com>
wrote:

[2015-06-12 20:25] stuartpb commented on #9
I'm actually considering writing a cronjob that can detect when a new version has been published and generate the commits automatically.

[2015-06-12 21:13] stuartpb commented on #10
Actually, Precise does have an upstream tag: https://registry.hub.docker.com/_/ubuntu/

[2015-06-13 01:05] techniq commented on #9
That would be nice :)

On Fri, Jun 12, 2015, 4:25 PM Stuart P. Bentley <notifications@github.com>
wrote:

[2015-08-13 10:26] JohnyDays opened #11 "Release 2.1"
Pretty huge release from the rethinkdb team, would be nice to have a docker image for it so we can migrate

[2015-08-13 10:27] stuartpb commented on #11
I'll handle this today after I've gotten some sleep.

On 8/13/2015 3:26 AM, John Days wrote:

[2015-08-13 10:43] JohnyDays commented on #11
thanks a bunch! :rocket:

[2015-08-16 11:55] benweet commented on #11
:+1:

[2015-08-16 12:22] stuartpb commented on #11
Flerp, I opened a tab to cut releases for 2.1.0 and 2.1.1, and then I got distracted with a bunch of other things. I'll make a note in my status channel that I'm working on this now, so I remember to come back to it in case this happens again.
On Aug 16, 2015 4:55 AM, Benoit Schweblin <notifications@github.com> wrote:

—Reply to this email directly or view it on GitHub.

[2015-08-17 09:42] stuartpb commented on #11
https://github.com/docker-library/official-images/pull/969

[2015-08-18 09:36] JohnyDays commented on #11
Cool! it seems it's been merged. Closing this. Thanks!

[2015-08-18 09:36] #11 closed

[2015-09-02 06:35] eliezedeck opened #12 "Update to 2.1.2"
I have personally been hit by a bug in the 2.1.1. Please update the binary to 2.1.2.
Thanks.

[2015-09-08 04:50] donpdonp commented on #12
2.1.3 now. thanks!

[2015-09-15 11:18] danjenkins opened #14 "Can we get a version of this which doesn't mount a volume?"
I want to use the official image but can't because the volume command stops how I want to use the image. I want to load data into an image, commit that change and then use that image as is so that all my tests run against a data store in x condition. With this image, I can't do that

[2015-09-16 00:59] stuartpb commented on #14
Well, there's nothing stopping you from forking this repo and creating images from the Dockerfiles with the `VOLUME` command removed, but de-volumizing directories in images / committing volumes really is something that should be supported within `docker run` (the same way as it lets you override CMD and ENTRYPOINT) or `docker commit` without having to create an entirely separate base image (since

[2015-09-16 10:10] danjenkins commented on #14
@stuartpb that's exactly what I did, but because the project has to be private, I've had to just copy the Dockerfile and remove the VOLUME command. Not great because now it's not easy to keep up to date etc but it works :)

I'd love the ability to override the VOLUME or remove it in a Dockerfile that pulls in the base one.

[2015-09-16 14:44] jfrazelle commented on #14
Tbh I wish we could remove the volume command from Dockerfile entirely, but
that's a whole different story.

The Dockerfile syntax is frozen so no changes are being made to it so we
can strip it out of the daemon to the client.

Long story short there is not a way to do what you want.

On Wednesday, September 16, 2015, Dan Jenkins <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4

[2015-09-16 14:52] tianon commented on #14
Could you reconfigure rethinkdb to use a different directory?

[2015-09-16 14:55] danjenkins commented on #14
My objective was to have an image with a sample set of data already within it; hosted on a private registry. For testing purposes etc etc - so having a volume at all stops that plan. I don't mind having a copy of the `Dockerfile` and doing it that way; it's just not the best way of doing it (even if it's the only way right now)

[2015-09-16 15:08] tianon commented on #14
Right.  My suggestion to accomplish that easily would be to change the
configuration file of rethinkdb itself to point to a different (non-VOLUME)
directory.

[2015-09-16 15:19] danjenkins commented on #14
Oh I see what you mean @tianon - create a new Dockerfile which uses this one as a base, and then change the rethinkdb configuration to not even use that volume. That would work

[2015-09-16 19:51] stuartpb commented on #14
You don't even need a new Dockerfile, just run with `rethinkdb -d /testdata --bind all` instead of the default `rethinkdb --bind all`.

[2015-09-16 19:56] stuartpb commented on #14
@jfrazelle:

that's a whole different story.

I agree, to a certain extent, but that would be a change to the Docker build system, and, as you said:

can strip it out of the daemon to the client.

What I'm talking about *wouldn't* be a change to Dockerfiles in any way, shape, or form. I'm talking about adding having options (probably new ones) to *post-Dockerfile* commands like `docker run` (telli

[2015-09-16 20:05] stuartpb commented on #12
Fixed by #13.

[2015-09-16 20:05] #12 closed

[2015-09-18 04:01] donpdonp commented on #12
2.1.4 now. errmahgerd!

[2015-10-14 18:46] geddski opened #18 "beta versions"
Is it possible to get beta versions of RethinkDB with this? For example the current build is 2.1.5-2 (which happens to contain a bugfix I need).

[2015-10-14 23:48] stuartpb commented on #18
Nope - these Dockerfiles only handle releases which have been packaged and uploaded to download.rethinkdb.com. See also #3.

[2015-10-14 23:48] #18 closed

[2015-12-24 17:27] niieani opened #23 "Not possible to run backup in the container"
It seems no python driver is installed in the container.
[code]

[2015-12-24 22:31] stuartpb commented on #23
https://github.com/rethinkdb/rethinkdb-dockerfiles/issues/6#issuecomment-94317408

[2015-12-24 22:31] #23 closed

[2015-12-24 22:44] niieani commented on #23
@stuartpb thanks for the comment, although I think it would be great if you'd put this into the readme - I presume you'll get a lot more questions in the future about the same thing.

[2016-03-09 12:04] stellanhaglund opened #25 "Remote admin interface on google compute engine"
Hi I was just wondering if you have any idea how I would be able to access the interface if docker is runned on an compute engine instance?

I tried this.
[code]

[2016-03-09 21:30] danielmewes commented on #25
I'm not sure. Maybe @dalanmiller has an idea?

I would expect something like your `ssh` tunnel to do the job.

[2016-03-09 23:01] stuartpb commented on #25
Are you replacing `some-rethink` with the name of your container on the instance?

[2016-03-09 23:03] stellanhaglund commented on #25
Its named some-rethink, i started the container using the example command
from the readme

torsdag 10 mars 2016 skrev Stuart P. Bentley <notifications@github.com>:

[2016-03-09 23:04] stuartpb commented on #25
What about `remote`? Are you replacing that with the address?

[2016-03-09 23:08] stellanhaglund commented on #25
You mean the remote at the end of the command?

I tried changing that to things like hostname of container or instance, IP
to instance or container but the error always say, something similar to
SSH, could not resolve hostname

torsdag 10 mars 2016 skrev Stuart P. Bentley <notifications@github.com>:

[2016-03-09 23:12] stuartpb commented on #25
It's weird that it'd be saying "could not resolve hostname" about an IP address. Did you inspect the output of `gcloud compute ssh docker-rdb --zone europe-west1-b "docker inspect --format '{{ .NetworkSettings.IPAddress }}' some-rethink"`?

[2016-03-09 23:13] stellanhaglund commented on #25
No I wanted to but i wasnt sure how to do that! :)

torsdag 10 mars 2016 skrev Stuart P. Bentley <notifications@github.com>:

[2016-03-09 23:15] stuartpb commented on #25
run `gcloud compute ssh docker-rdb --zone europe-west1-b "docker inspect --format '{{ .NetworkSettings.IPAddress }}' some-rethink"`

[2016-03-09 23:16] stellanhaglund commented on #25
I will, i will let you know what the result is.

Thanks!!

torsdag 10 mars 2016 skrev Stuart P. Bentley <notifications@github.com>:

[2016-03-10 06:53] stellanhaglund commented on #25
it gave me 172.17.0.2

2016-03-10 0:16 GMT+01:00 Stellan Haglund <sh@idly.se>:

[2016-03-10 07:04] stellanhaglund commented on #25
this command ssh -fNTL localhost:8080:$(gcloud compute ssh docker-rdb
--zone europe-west1-b "docker inspect --format '{{
.NetworkSettings.IPAddress }}' some-rethink"):8080 172.17.0.2

gives me this error instead ssh: connect to host 172.17.0.2 port 22:
Connection refused

2016-03-10 7:52 GMT+01:00 Stellan Haglund <sh@idly.se>:

[2016-03-10 10:08] stuartpb commented on #25
172.17.0.2 is the address of the container *inside the instance*. It's not routable to the general internet. The address you want the outer `ssh` to be targeted at is *the address of the instance*.

If we're sticking with the `gcloud compute ssh` [wrapper](https://cloud.google.com/sdk/gcloud/reference/compute/ssh), that command would be:

`gcloud compute ssh docker-rdb
--zone europe-west1-b -- -fN

[2016-03-10 10:39] stellanhaglund commented on #25
Yes now it works! thank you!!

2016-03-10 11:08 GMT+01:00 Stuart P. Bentley <notifications@github.com>:

[2016-03-10 22:42] danielmewes commented on #25
Maybe we should document this somewhere if it isn't already documented...

@stellanhaglund Did you come up with your original `ssh` command yourself or did you find that in some documentation?

[2016-03-10 22:44] stellanhaglund commented on #25
The most part is from the docker readme i just changed to the gcloud part
instead of the regular ssh.

torsdag 10 mars 2016 skrev Daniel Mewes <notifications@github.com>:

[2016-04-25 20:40] lbguilherme opened #28 "Update to 2.3.1"
The web interface is already warning about the new release, but I can't update because my deployment is Docker based and it uses this image.

Please release an update for 2.3.1

[2016-04-25 20:56] danielmewes commented on #28
@dalanmiller is on it.

[2016-04-26 17:36] #28 closed

[2016-04-26 17:40] dalanmiller commented on #28
@lbguilherme is there a good way we can notify you about updates? Are you a part of our community Slack org? I was thinking of starting a #docker channel where I can automate the availability of new releases there.

[2016-04-26 21:04] lbguilherme commented on #28
@dalanmiller Thanks for the quick update!

I am part of the slack community but I don't really follow it, it gets too noisy quickly. I usually watch the GitHub repository for popular issues and for releases, this is where I read about the 2.3.1 release, few hours after release.

I considered asking on slack before opening this issue, but didn't find a suitable channel (and this is more like a task

[2016-05-23 05:38] neurotech opened #29 "Cache size/swap memory"
Hi - I am using `2.3.2 jessie` (https://github.com/rethinkdb/rethinkdb-dockerfiles/blob/master/jessie/2.3.2/Dockerfile) and I get this issue on my admin console sometimes:

[code]

My container has been run with the `--memory "512M"` flag, if that helps.

Also, the container's log have this entry:

[code]

How can I resolve this?

[2016-05-24 01:35] danielmewes commented on #29
For other readers: Some ideas that were mentioned at rethinkdb.slack.com:
* Reduce the cache size through `--cache-size 32` to reduce memory usage.
* Try `--memory 512MB --memory-swap 0` to disable swap. However it could make RethinkDB crash when running out of memory.

[2016-05-24 12:42] diegoperini opened #30 "How to update container and persist previous data in mounted volume"
I am in seek of a simple flow to update my rethinkdb container without losing my data in a mounted volume. What I currently do step by step is below:

1. Start a rethinkdb container with a mounted volume for data storage:
`docker run -m 1G -it -p 8080:8080 -d --net rethinknet --restart=always --name rethinkdb -v $HOME/rethinkdata:/rethinkdb/data rethinkdb:latest`
2. Days passes and a new rethinkdb

[2016-05-24 14:10] diegoperini commented on #30
I believe the reason why it didn't work is due to my `docker run` command structure. The target path for mounted volume is mistakenly `/rethinkdb/data` in my command. When I changed it to `/data`, my tables persisted. I think a caution line that warns careless users like me would be helpful if included in the docs. You may close the issue. Sorry for the trouble.

[2016-05-24 14:57] #30 closed

[2016-06-14 02:38] MarkHerhold opened #31 "Link to other repo on Dockerhub"
This page https://hub.docker.com/_/rethinkdb/ has a link to create a "GitHub Issue" at the bottom of the page. The link points to `https://github.com/stuartpb/rethinkdb-dockerfiles/issues`

I suspect that it should point to this repo instead.

[2016-06-16 07:26] stuartpb commented on #31
See docker-library/docs#604

[2016-06-16 13:14] MarkHerhold commented on #31
Thanks, closing this issue.

[2016-06-16 13:14] #31 closed

[2016-07-19 00:22] holms opened #32 "Alpine version of container"
I'd really love to see alpine version in here. This would reduce image size even more :)

[2016-07-19 00:26] stuartpb commented on #32
I feel like this was discussed in the comments of one of the docker-library commits some time ago; my stance is that if you can convince RethinkDB to package for it (or write a simple enough way to assemble RethinkDB for Alpine in a Dockerfile), I'll include it and push a change accordingly (as this is the new best practice for Docker official images).

[2016-08-09 18:29] endophage commented on #32
There's an example of sorts here: https://github.com/jlhawn/rethinkdb-docker

Disclosure: jlhawn and I both work at Docker.

[2016-08-09 19:00] jlhawn commented on #32
It takes a while to build, so here's a quick description (sorry the README in that repo isn't much).

## Results

[code]

This compares my `jlhawn/rethinkdb` image with the current official `rethinkdb` image. It is only 58.4 MB (uncompressed) while the official image is 183.8 MB. The size comes from the official `alpine` base image which is 4.8 MB, some dependent libs, and the built binary which i

[2016-08-10 09:42] holms commented on #32
@stuartpb this looks like great instruction from @jlhawn
Now probably some clever pull request should be made, so that auto-builds could be done :)

[2016-08-16 15:21] ambodi opened #33 "Rethinkdb:2.2.5 with Docker for Mac"
When running rethinkdb:2.2.5 image with Docker Version 1.12.0-beta22 (build: 11222) for Mac, very rapidly all the CPU resources are being used:

![screen shot 2016-08-16 at 17 08 53](https://cloud.githubusercontent.com/assets/6009583/17704298/f46dd0fc-63d4-11e6-8c2e-f992c6f47763.png)

I wonder why is that the case. It's happening with the stable version too, so I don't think its related because of

[2016-08-16 16:50] yosifkit commented on #33
This is not limited to RethinkDB, and is a "Docker for Mac" issue:

 - https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/2
 - https://forums.docker.com/t/com-docker-hyperkit-up-cpu-to-340/13057/23

[2016-08-17 11:58] #33 closed

[2016-08-17 11:58] ambodi commented on #33
@yosifikit awesome! Thanks for your help!

[2016-09-22 13:20] royeectu opened #34 "Docker 1.12 Healthchecks support"
Hi,

Docker 1.12 supports healthchecks out of the box.
In order to use it you need to add the HEALTHCHECK directive to the Dockerfile.
You can read about it here: [healthchecks](https://docs.docker.com/engine/reference/builder/#/healthcheck)
Could you please add it to the Dockerfile?

[2016-09-23 19:07] jlhawn commented on #32
I'm a little late to the 2.3.5 party, but I just built 2.3.5 for Alpine Linux using this and it's free of the OpenSSL vulnerabilities reported just yesterday morning:

![screen shot 2016-09-23 at 12 05 32 pm](https://cloud.githubusercontent.com/assets/1441929/18798193/2e2c3be8-8186-11e6-940a-2473c5526240.png)

[2016-09-23 19:17] stuartpb commented on #32
@dalanmiller @danielmewes Thoughts on RethinkDB adopting something like https://github.com/jlhawn/rethinkdb-docker/blob/master/Dockerfile.build to add Alpine packaging to the official release builds on http://download.rethinkdb.com/?

[2016-09-23 19:29] stuartpb commented on #14
Revisiting this a year later: per @jfrazelle's sentiment about how the Dockerfile system would be better if there just altogether weren't a VOLUME command, and @danjenkins' point about the volumes being an active impediment, would it maybe make more sense to just strip the VOLUME directives out of the Dockerfiles altogether (so that the image no longer defines any volumes)? /cc @yosifkit @tianon

[2016-09-23 20:06] stuartpb commented on #25
I'm okay leaving the README so that it only describes the mechanism for constructing the tunnel with general SSH. If somebody wants to convert that to a wrapper like `gcloud compute ssh` (or some other provider's toolbelt, like AWS or Azure), they can work out the appropriate translation for themselves - maybe they'll just do a Google search and find this issue that says how to do it (with `gcloud

[2016-09-23 20:06] #25 closed

[2016-09-23 22:14] yosifkit commented on #14
Currently it is the best way to communicate to the user about where permanent data is located in the image and ensures that users get better performance by default in the specified directory.  When users want to embed data in the image, we usually point to the method of re-configuring the data directory of the service contained in the image or in the case of the mysql images, [`/docker-entrypoint-

[2016-09-29 10:04] royeectu commented on #34
Anyone?

[2016-09-29 15:42] daveisfera commented on #29
When running running the official docker image of 2.3.5 with `--memory=4G --memory-swap=0` I still see this message. Anything I can do to help diagnose the cause of this issue?

[2016-10-04 10:31] qrpike opened #35 "ENV Variables for clustering"
I don't see in the docs or the Dockerfile itself where it's possible to define how/what cluster it should try to connect to.

I guess we could override the CMD with the params, but it would be nice to just define environment variables to specify the cluster IP, etc.

[2017-01-26 20:37] gjuchault commented on #34
Could be nice !

[2017-04-26 14:35] dave-nm commented on #32
Here's a Dockerfile that builds rethinkdb against Alpine 3.5 (the latest stable release). It's 73 MB compared to the 183 MB of the existing image and would allow those using Alpine as their base to have shared bases.
[code]

[2017-04-26 14:36] daveisfera commented on #32
Here's a Dockerfile that builds rethinkdb against Alpine 3.5 (the latest stable release). It's 73 MB compared to the 183 MB of the existing image and would allow those using Alpine as their base to have shared bases.
[code]

[2017-05-02 10:18] yicone opened #37 "Volumes error on Rethinkdb 2.3.5 @macOS"
Rethinkdb Service can't start when Container restarted.

_docker-compose.yml_
[code]

LOGS:
[code]

Docker version:
- Docker version 17.03.1-ce, build c6d412e
- docker-compose version 1.11.2, build dfed245

macOS version:
- Sierra 10.12.3 (16D32)

[2017-05-11 14:47] yicone commented on #37
There has been a very similar in the past,
https://github.com/rethinkdb/rethinkdb/issues/6284

[2017-06-12 20:46] franz-josef-kaiser commented on #32
Is there any progress here? I would love to see the Alpine image as pretty much all vendors now switched there, which means, that we already have AuFS persisting _Alpine_ and ready to share, opposing to the _Debian_ image in use here.

[2017-06-27 02:13] doug-numetric commented on #37
I had the same issue.  It was a corrupted table file.  I had to rename the table file <guid> to <guid>.old until I could get rethink to start up again to find which file was corrupted.  It would be nice to have the guid of the corrupted file in the error log - even better, the name of the table the file corresponds to.

[2017-07-20 13:56] lucidfrontier45 opened #38 "update Dockerhub repo to include 2.3.6"
Hi. I'm super happy for the release of 2.3.6.

Now the official docker image's latest tag is still set to 2.3.5.
https://hub.docker.com/_/rethinkdb/
Can you update it to 2.3.6. (add 2.3.6 tag and set 2, 2.3, latest to 2.3.6)

Thank you.

[2017-07-28 21:53] lucidfrontier45 commented on #38
also see https://github.com/docker-library/official-images/issues/3252#issuecomment-318769845

[2017-07-28 21:56] lucidfrontier45 commented on #38
The document is also needed to update.
https://github.com/docker-library/docs/tree/master/rethinkdb

[2017-08-01 01:31] cur3n4 opened #39 "Do not run as root"
Ideally the image should not be run as root, I recommend creating a user and changing the rethinkdb permissions to be accessible by that user

[2017-08-31 18:50] stuartpb commented on #39
How many *other* official images run as a non-root user/group? My experience has been that, in the Docker world, the containerization itself is generally considered to be "good enough" in terms of privilege encapsulation.

If you can point to a substantial number of other prolific images in the [official library](https://github.com/docker-library/official-images) that create and use non-root user

[2017-09-01 01:02] aleclarson commented on #6
Here's another option found by @jordanh:

`rethinkdb-backup.sh`:
[code]

and `rethinkdb-restore.sh`:
[code]

[2017-09-04 13:11] reederz commented on #38
Any progress on this? Would love to see the new version up on docker hub :)

[2017-09-05 04:13] Vanuan commented on #38
Unfortunately, docker-library maintainers need a confirmation from one of rethinkdb maintainers.
And as far as I can see, all rethinkdb maintainers had left.

@AtnNn @coffeemug @danielmewes @mglukhovsky @mlucy @neumino @timmaxw @Tryneus @VeXocide anybody willing to tell a word on docker-library/official-images#3332 ?

[2017-09-06 22:33] Vanuan commented on #39
In my experience the difference comes from when you have bind-mounted directories.
I.e. all you mounted files would be root owned.
In terms of security, I don't know what it means, but in terms of usability it has less than perfect user experience. You'll frequently get permission denied.
For named volumes it's even worse: you have to run your container as root and chown the corresponding director

[2017-09-20 10:34] roppa commented on #37
I had the same error. Fortunately there wasn't much data so I just deleted the mounted drive and started again

[2017-09-23 22:27] random-robbie opened #41 "Arm Version"
As debian supports arm can we get a version that will run on a raspberry pi please?

arm32v7/debian:buster
arm32v7/debian:jessie

[2017-10-13 02:46] lucidfrontier45 commented on #38
rethinkdb:2.3.6 image was released
https://hub.docker.com/_/rethinkdb/

[2017-10-13 02:46] #38 closed

[2017-12-11 19:09] stuartpb commented on #41
If you can convince upstream to package for it, sure.

[2017-12-11 19:12] stuartpb commented on #34
Closing per explanation in https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/36#issuecomment-326398363.

[2017-12-11 19:12] #34 closed

[2017-12-11 19:21] stuartpb commented on #35
That's how all RethinkDB configuration happens. If you want to add a more-opinionated configuration layer, you can put it in your own derivative image with a Dockerfile that starts with `FROM rethinkdb`.

[2017-12-11 19:21] #35 closed

[2017-12-11 19:23] srh commented on #41
I'd like that too.  First I'd like a stretch package for x86_64, and then getting building in general to work on buster (IIRC it doesn't yet) but after that, arm.

A first step might be to see if `make build-deb DEB_RELEASE=jessie` works on jessie for ARM.

[2017-12-11 19:24] stuartpb commented on #29
https://github.com/rethinkdb/rethinkdb/issues?q=is%3Aissue+memory

[2017-12-11 19:24] #29 closed

[2017-12-12 16:53] lciummo opened #42 "Cache size param to rethinkDB command"
Is it possible to pass a --cache size param to rethinkDB from the docker run line for this docker image? Can it be modified to include this.
Thanks
Larry

[2017-12-26 01:01] stuartpb commented on #41
Seeing as how I'm currently [moving the container images to use Alpine Linux](https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/40#issuecomment-350838227), it might also be worth trying to get the upstream maintainer at Alpine [(probably Daniel Treadwell)](https://pkgs.alpinelinux.org/packages?name=rethinkdb) to package for armhf / aarch64.

[2018-01-06 11:05] stuartpb opened #43 "Packaging from scratch"
I'm thinking - if this is feasible, which I'm led to believe it is - the official images could use [multi-stage builds](https://docs.docker.com/engine/userguide/eng-image/multistage-build/) to [build the binary from source using Ubuntu](https://rethinkdb.com/docs/install/ubuntu/#compile-from-source), then package it in an image `FROM scratch`, which would be even more minimal than using whatever v

[2018-01-06 11:21] stuartpb opened #44 "New image planning"
This is a tracking issue to collect all the elements that are under consideration for a potential overhaul to the official RethinkDB image:

- Packaging from scratch (#43) or Alpine (#32) instead of Debian
- Packaging for ARM (#41)
- Running as a non-root user (#39)
- Removing the `VOLUME` directive (#14)
- [Housekeeping](https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/40#issuecomment-3508

[2018-01-09 21:00] yosifkit commented on #43
Just so you have a reference to multi-stage build support in Official Images: https://github.com/docker-library/official-images/issues/3383.

[2018-05-18 20:37] linuxjuggler commented on #32
Hey, its look like the latest version of alpine has rethinkdb ready to be installed https://pkgs.alpinelinux.org/packages?name=rethinkdb&branch=v3.7

[2018-05-18 20:47] daveisfera commented on #32
Installing a package only supports the version available for the OS in questions. Building it from scratch is the preferred solution since you can support the newest/multiple versions. There are also advantages around compiler flags and build config, but the ability to control version is the primary driver for building from scratch.

[2018-05-18 20:50] daveisfera commented on #43
Here's a Dockerfile that builds RethinkDB from scratch for Alpine and a Debian version would be pretty close as well:
https://github.com/rethinkdb/rethinkdb-dockerfiles/issues/32#issuecomment-297428635

[2018-07-02 12:20] nicodmf commented on #44
Can i help for the alpine container ?

[2018-08-30 18:04] tianon commented on #44
Is this still something that's planned?  Is RethinkDB something that's still maintained?  Would it make sense to look at RebirthDB? (https://github.com/RebirthDB/rebirthdb)

[2018-09-07 19:59] srh commented on #44
@nicodmf Yes, talk to the RebirthDB people.

@tianon All the activity is with RebirthDB (except for a small amount of stuff I do to fix stuff, and the miscellaneous PR's you see, and that'll end up in RebirthDB anyway) but it looks like they're going to become the people in charge of RethinkDB real soon.  You'll notice that the main rebirthers are now owners of the RethinkDB org: https://github.co

[2018-10-03 14:27] stuartpb commented on #32
#45 looks like the most likely candidate to close this issue right now.

[2019-02-12 14:49] gagan1510 commented on #41
Did you find a way?
Even I need to do this!

[2019-05-02 23:57] stuartpb commented on #44
I like @davidisfera's work in https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/40#issuecomment-391075583 and currently that's probably the closest thing to what a new image would look like, but that is a *hairy* `RUN` line - I'd rather see something that uses more of upstream's build process, which (IIRC) uses Nix and was developed by @AtnNn.

In any case, what we really need is a new pull

[2019-05-02 23:58] stuartpb commented on #44
I like @daveisfera's work in https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/40#issuecomment-391075583 and currently that's probably the closest thing to what a new image would look like, but that is a *hairy* `RUN` line - I'd rather see something that uses more of upstream's build process, which (IIRC) uses Nix and was developed by @AtnNn.

In any case, what we really need is a new pull r

[2019-05-03 05:22] daveisfera commented on #44
`RUN` commands to build a package usually are big and ugly. Multi-stage builds help clean that up, but they're [currently not supported for official images](https://github.com/docker-library/official-images/issues/3383).

The `Dockerfile` that I made uses the same build process as the Alpine package and is very close to the version used for the Debian builds (i.e. just modifications to work with A

[2019-05-03 08:25] stuartpb commented on #44
Is there a way we could pull the build command by reference from an upstream source, like how Arch Linux has the ABS?

[2019-05-03 14:17] dave-nm commented on #44
I'm not following. A `Dockerfile` is basically a build system like ABS. If you go dig into the details of an ABS build, they're just as big and ugly. They have better ways to break it up and structure things so it's easier to look at and manage, but once multi-stage builds are supported, then the `Dockerfile` can be cleaned up in the same sort of way.

[2019-05-05 22:39] stuartpb commented on #44
I guess what I'm saying is, if this does the some thing as https://git.alpinelinux.org/aports/tree/community/rethinkdb/APKBUILD, why not just build from that aports tree source directly (which, from the looks of it, would also resolve #39 via https://git.alpinelinux.org/aports/tree/community/rethinkdb/rethinkdb.pre-install)? Why [repeat ourselves](https://en.wikipedia.org/wiki/Don%27t_repeat_yours

[2019-05-05 22:59] daveisfera commented on #44
Oh, do you mean to run the `APKBUILD` file from Alpine inside of the `Dockerfile`? If that's what you're asking, then I'm not sure what that would take but I'm guessing it's possible. The down side is that we'd be tied to the version that they have installed and if we're going to couple it to their packaging like that, then why not just install the already built binaries?

[2019-05-05 23:23] stuartpb commented on #44
I guess my original thinking behind this was that this was the only way to *really pin* a package release, since Alpine's repos only provide the latest version. The point of the Docker library seems to be about making the build process as deterministic as possible, though I'll admit that this seems like something of a farce when the first line of the Dockerfile bases the entire build on a mutable

[2019-05-05 23:44] stuartpb commented on #44
Argh... ultimately, what this comes down to is that RethinkDB did their own packaging for Debian/Ubuntu/CentOS, and they packaged the full matrix of releases to package versions, and if we're relying on distro packaging (which only caters to the latest version), the ability to maintain images for previous versions using only upstream-provided infrastructure falls apart.

I don't want the Dockerfil

[2019-05-06 00:02] stuartpb commented on #44
Agh, whatever, we don't list anything but the latest version in the [library](https://github.com/docker-library/official-images/edit/master/library/rethinkdb) anyway (and I vaguely recall the exchange that led to this).

I could argue that it's a bad idea to let old images' dependencies stagnate, but there's *also* an argument to be made for not making untested changes to obscure backports... what

[2019-05-06 00:25] stuartpb commented on #44
Or, really, reflecting on https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/45#issuecomment-426690121, I think what'd be more appropriate than Ubuntu or Alpine going forward would be for the RethinkDB image to be based on a package for Nix: https://github.com/rethinkdb/rethinkdb-nix/issues/2

[2019-05-06 02:50] daveisfera commented on #44
Having a set of packages for each of the OSes is really nice (like what Postgres provides), but it's a ton of work. Also, even they don't maintain packages for Alpine and they just build the software in the Alpine base image, like I've done. Basically, they have two versions:
1) debian base that installs the prebuilt package ( https://github.com/docker-library/postgres/blob/85aadc08c347cd20f199902

[2019-05-28 14:44] ryedin commented on #44
@stuartpb @daveisfera I was surprised this morning when I ran a docker pull command in my project and the `rethinkdb:2.3.6` image downloaded a new image from dockerhub.

The dockerhub page says the tag was updated 18 days ago.

The Dockerfile in this repo hasn't been changed for 2 years.

Give this: https://www.bankinfosecurity.com/docker-hub-breach-its-numbers-its-reach-a-12425

I'm wondering if

[2019-05-28 14:53] daveisfera commented on #44
The base image was updated ( https://github.com/debuerreotype/docker-debian-artifacts/commits/fd138cb56a6a6a4fd9cb30c2acce9e8d9cccd28a/jessie/Dockerfile ). This is common to get security fixes and such out to all of the images and I don't believe that it has anything to do with the breach.

[2019-06-13 07:50] lag-linaro commented on #44
Are you guys any close to having AArch64 (ARM64) support on DockerHub?

[2019-06-19 22:27] tianon commented on #44
Just to be clear, it's been ~623 days since the last actual `rethinkdb` image update, so it's definitely ripe (even if just to get off Debian Jessie whose leftover lifespan is getting very, very thin).

Without some amount of image maintenance, we'll be adding a deprecation notice (which itself can be temporary, but we'd really much rather see the image updated :smile: :heart:).

[2019-08-22 14:19] rhenwood-arm commented on #41
A recent commit to Alpine has introduced RethinkDB for AArch64:
https://github.com/alpinelinux/aports/commit/da4ea7010152dc36fb1eb52b9824534c74d9f59d

Does that unblock this work now?

[2019-09-05 18:37] rhenwood-arm commented on #41
looks like it isn't quite ready on AArch64:

[code]

[2019-09-05 18:42] gagan1510 commented on #41
It is bothering me way too much. Thanks for your efforts... Do let me know
when it's done. It'll be of great help.

Thank you!

On Fri, Sep 6, 2019 at 12:07 AM Richard Henwood <notifications@github.com>
wrote:

--

[image: Greendeck] <http://www.greendeck.co/>

GAGANPREET SINGH

SOFTWARE ENGINEER•GREENDECK
WWW.GREENDECK.CO <http://www.greendeck.co/>

+91 9893879594 <+91+9893879594>

@TWITTER <http

[2019-11-18 10:43] ossdev07 commented on #41
@rhenwood-arm @gagan1510 Activity to support  AARCH64 platform is done in following PR ..
PLease have a look and let me know if any thing is required from my side ...
https://github.com/alpinelinux/aports/pull/12096

[2019-11-19 00:03] srh commented on #41
Getting a PR to bring that patch into RethinkDB would be great.

[2019-11-28 06:12] parampreet004 commented on #41
While installing this package on ARM64 Alpine Environment using command "**_apk add rethinkdb_**" , i am facing error related to libprotobuf.
[code]

[2019-11-29 08:19] gabor-boros commented on #44
@tianon I have a PR that will update the docker images, namely https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/46.

When I open the PR to change https://github.com/docker-library/official-images/blob/master/library/rethinkdb, should I open one to remove the deprecation warning or will you do it?

[2019-11-29 08:20] gabor-boros commented on #10
@stuartpb can I close this issue? I believe this is not needed anymore since those distros have no support.

[2019-12-05 21:52] daveisfera opened #47 "centos base image"
Please add official tags using the `centos7` and `centos8` base images so they can be used as well ( https://github.com/rethinkdb/rethinkdb/issues/6772#issuecomment-562271994 )

Thanks for your work to get this project revived and working again!

[2019-12-21 09:48] gabor-boros commented on #47
@daveisfera I did not forget you! I'll do it in the second week of January.

[2019-12-21 18:03] daveisfera commented on #47
No rush! Thanks for being willing to do this and looking forward to using the 2.4 release with a centos base

[2019-12-24 13:19] cirelli94 opened #48 "Rethinkdb with python driver installed"
It would be great to have an image with python and the [python driver](https://rethinkdb.com/docs/install-drivers/python/) already installed via pip.
I needed to use the rethinkdb command line utility that needs the python driver to dump, restore, etc.
Nowadays you have to sh in the container and install python-pip and the driver.
If this could be useful to someone other, I can make a pull request

[2019-12-27 22:29] stuartpb commented on #10
IMO, if a distro isn't supported, then it shouldn't be hosted under https://download.rethinkdb.com/apt/pool/

[2019-12-28 09:39] gabor-boros commented on #10
@stuartpb you are right. @srh what do you think if we remove the unsupported distros from the download server?

[2019-12-28 13:51] srh commented on #10
Why would we do that?

[2019-12-28 23:18] stuartpb commented on #10
IMO, if a distro isn't supported, then it shouldn't be hosted under https://download.rethinkdb.com/apt/pool/

[2019-12-29 21:35] srh commented on #10
Why?

[2020-01-03 17:05] TB-VHS commented on #48
1

[2020-01-03 17:18] furibund commented on #48
👍

[2020-01-04 13:09] gabor-boros commented on #10
@srh, @stuartpb I had some time to think about this. As I can see, we should host the older binaries somewhere anyway as an "archive". For this repository, I would only keep those dockerfiles which are supported. Since the download server contains every package, anyone can have a dockerfile for an older RethinkDB version.

To conclude this, what if we:
- removing the older dockerfiles from here (t

[2020-01-06 22:43] srh commented on #10
I'm not a user of the docker files, so I don't have any opinion on that.

[2020-01-08 09:51] ossdev07 commented on #41
Hi all,
rethinkDB changes for AARCH64 are merged and released in alpinelinux repo now
https://github.com/alpinelinux/aports/commit/11c42c35632ded5b149aca0a598aa84646bac751
https://pkgs.alpinelinux.org/packages?name=rethinkdb&branch=edge

I have already verified by creating alpine docker and installing rethinkDB, so we can close this issue
Thanks,

[2020-01-21 06:16] gabor-boros commented on #48
@cirelli94 and @furibund, I think this would be a good idea! Since python2 is deprecated and the extended-extended end of life is in April, I guess it is ok for you to install the python3 version of the driver, am I right?

Do you have any concerns about installing the python 3 version?

[2020-01-21 06:20] gabor-boros commented on #47
Hello @daveisfera,
The dockerfile is created in https://github.com/rethinkdb/rethinkdb-dockerfiles/commit/1af469291c979834826f4fc801fcd326abdd1b86. I'll open a PR for docker hub as well to make it available on their side as well 😊

[2020-01-21 06:34] gabor-boros commented on #47
Here we go. The PR is created for the addition.

[2020-01-21 08:30] cirelli94 commented on #48
Yes, I't ok to me.
I'll do it today or tomorrow, and I'll make a pull request :+1:

[2020-01-21 20:02] daveisfera commented on #47
Thanks!

[2020-01-27 15:50] cirelli94 commented on #48
Mm if I install only the python 3 version I can't use dump and restore, probably because it fail to find the driver.
This it happens not only when I build an image with a dockerfile but even when I did it manually!

So I did:
[code]

[2020-01-27 20:21] gabor-boros commented on #48
Oh, nice. I’ll fix this tomorrow as soon as I can! By the way, it is time to drop python 2 finally

[2020-03-13 16:02] brecko commented on #44
For rethinkdb itself, it was AGPLv3 and after the transition, was changed to APL. The docker page for the official rethinkdb image is AGPLv3.

Is there specific information as to what is still forcing the APGL license for the image?

My team wants to use it, but due to our Legal department, AGPL is not a viable license for us.
Thanks for all your hard work and for the information you can provide!

[2020-03-14 08:58] gabor-boros commented on #44
@brecko the license should be Apache 2.0. Any other licenses are just wrong. Thank you for raising this, I’ll update that info.

[2020-03-16 13:45] brecko commented on #44
@gabor-boros Thank you for the quick response and that is good news to hear. So that my team can better align, approximately when do you think this change will be made?

[2020-03-16 17:23] gabor-boros commented on #44
@brecko I wanted to do that today morning but I had no time for that. Tomorrow morning I’ll try to adjust that 😇

[2020-03-17 07:57] gabor-boros commented on #44
PR: https://github.com/docker-library/docs/pull/1679

[2020-03-17 17:57] brecko commented on #44
Thank you @gabor-boros !

[2020-04-19 03:56] jflattery commented on #41
I just tried to build this without luck:
[code]

[2020-04-19 04:10] jflattery commented on #41
I just tried this using the `edge` branch of alpine... still no luck.

[code]

[2020-04-19 04:56] jflattery commented on #41
I found that my issue above is due to my host OS being 32bit (armv7l) and the rethinkdb package in the alpine repo is built for AARCH64.

That being said, this issue should NOT be closed as suggested by @ossdev07 as the issue was originally seeking support for arm32v7.

[2020-05-30 04:33] gabor-boros commented on #47
@daveisfera I never had this long issues, but its finally solved: https://hub.docker.com/_/rethinkdb.

As the end result based on the extremely lot of discussions, CentOS8 and Debian Buster images are available for download. 😇

I'll close this issue now, but if you disagree with that (because of lack of CentOS 7), please let me know, and I'll reopen the issue or feel free to open a new one.

[2020-05-30 04:33] #47 closed

[2020-06-01 16:03] daveisfera commented on #47
CentOS 8 is great. Thanks again for all of the work to get this done!

[2020-06-27 13:28] shashanksingh opened #56 "Can I add a development docker file, to ease first time commuters?"
**Is your feature request related to a problem? Please describe.**

- As a first time committer, trying to compile it on my development machine was quite tedious process . A development docker file will help quickly onboard anyone who wants to get a taste of development.
Example of docker file : https://github.com/shashanksingh/rethinkdb/blob/next/Dockerfile

**Describe the solution you'd like**
E

[2020-07-24 02:29] mishawakerman opened #57 "Include python drivers in container"
**Is your feature request related to a problem? Please describe.**
After upgrading from version 2.3.6 → 2.4.0, I needed to rebuild some indexes but could not do so within/using the docker container. I tried running it within the container and got the following:

[code]

**Describe the solution you'd like**
Include the python drivers in the container for running these utilities.

**Describe alterna

[2020-07-24 02:31] mishawakerman commented on #57
The steps for installing the drivers in the container...
[code]

[2020-08-14 04:43] gabor-boros commented on #42
Not at this moment, but you can always mount the configuration file to the proper place and that would result in the desired state. Anyways, this is a good idea in general to be able to configure the DB (in an other way than config file mounting)

[2020-09-11 00:59] zafhiel commented on #57
The best way to solve is create another **dockerfile** with this contents

[code]

[2020-09-14 07:34] fibric commented on #57
I would also create a 2nd docker file that contains Python. CIs can pickup the Python-less image to run tests. Users can pickup the Python version and run RDB in production.

[2020-11-19 08:22] gounthar commented on #41
Why has the rethinkdb aarch64 build [disappeared](https://pkgs.alpinelinux.org/packages?name=rethinkdb&branch=edge) from edge?

[2021-06-12 22:22] isamuninja commented on #41
work for me

https://hub.docker.com/r/djtidau/rethinkdb-2.4.1

[2022-04-28 14:50] besworks commented on #57
I used a variation of the suggestion by @zafhiel but instead of an extra Dockerfile I just added the required packages in an earlier stage.

[code]

This way the first stage is cached so if the entrypoint script changes then only the final stage needs to be rebuilt.

[2022-05-04 23:43] besworks commented on #44
I came up with a recipe for building rethinkdb 2.4.2 on apline:3.15 which is a stable branch. It uses ARG directives that can be overridden from the build command and performs a multi-stage build across several layers. The final image is a minuscule **35.7MB** and runs as a non-root user. Hopefully this meets the requirements to be used as the basis for an official rethinkdb:alpine image. At the v

[2022-05-06 09:11] srh commented on #44
So it gets the backtrace() with `libexecinfo`?  Great.

I think instead of using `boost-dev` it should use the fetched boost library.  This hard-codes the boost version to 1.60.0, which avoids any hypothetical changes to the behavior of boost's datetime library, which the query language and secondary index functions can use.

I think you also don't need icu-dev anymore.

[2022-05-06 13:32] besworks commented on #44
From my build log it looks like it ignored the installed boost-dev package (1.77.0-r1) anyway and instead built with the fetched version that you mentioned.

None of the build dependencies end up in the final image anyway so having an extra one here and there won't hurt a whole lot. These can easily be fine-tuned in later builds. I'll try without icu-dev next time I need to do a full run.

[2022-05-06 14:35] daveisfera commented on #44
For whatever it's worth, here's a `Dockerfile` that I made a while back that builds against `alpine`:
https://github.com/rethinkdb/rethinkdb-dockerfiles/issues/32#issuecomment-297428635

[2022-05-06 14:51] besworks commented on #44
@daveisfera I based my Dockerfile partly on your example as well as others that I found. The difference with mine is that I use several RUN commands to create cached layers that way I can re-run builds with various tweaks without needing to install the deps, download and unpack the source, etc on each run.

I also build the output image from a fresh copy of the alpine base image to completely disc

[2022-05-08 17:36] gabor-boros commented on #41
https://github.com/docker-library/official-images/pull/12389 will fix this for 2.4.2 and above.

[2022-05-12 11:53] gabor-boros opened #62 "Refactor GPG key validation"
Refactor the GPG key validation as it was done in https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/61

[2022-07-11 12:49] metal3d opened #63 "2.4.2 tag is 2.4.1 in container"
**Describe the bug**
Pulling `rethinkdb:2.4.2` and opening the UI - version alert appears and the version is not set to 2.4.2

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm -it -p 8080:8080 rethinkdb:2.4.2`
2. Open http://localhost:8080
4. Press the "parameter" button and see the version

**Expected behavior**
Inside the UI, the update alert should not appear and the versio

[2022-07-11 12:58] metal3d commented on #57
I confirm that a python version can be very interesting while I'm using RethinkDB inside Kubernetes.
CronJob to backup the database needs to build and store a derived image to be able to connect to the service. Having a `rethinkdb:2.4.2-python` can avoid us to build and store the image ourselves.

[2022-07-11 13:13] besworks commented on #57
@metal3d, I maintain an [Alpine based image](https://hub.docker.com/layers/rethinkdb/besworks/rethinkdb/python/images/sha256-50b5caec6b37b59b9748f4b29d50a4967326d8222edc806ab4a0bc19fc9d9d8d?context=explore) with the python drivers included which you could use.

[code]